$brand-primary:           #1dc8ca;
$navbar-default-toggle-hover-bg: transparent;


$list-group-hover-bg:           #f5f5f5;

$list-group-active-color:       $brand-primary;
$list-group-active-bg:          $list-group-hover-bg;
$list-group-active-border:      $list-group-border;

$list-group-link-color:         $brand-primary;
$list-group-link-hover-color:   darken($brand-primary, 10%);


$jumbotron-bg:                  $brand-primary;
$jumbotron-heading-color:       #fff;


$pre-bg:                        #f4f4f4;
