<%= render 'head' %>
<div class="container content">
  <div class="row">
    <div class="col-md-3 col-md-push-9">
      <div class="panel panel-default">
        <div class="list-group">
          <%= link_to_with_current("Introduction", "/guides/",
            class: "list-group-item") %>
          <%= link_to_with_current("Create a Booking with a Source",
            "/guides/create-a-booking-with-a-source", class: "list-group-item") %>
          <%= link_to_with_current("Read all authorized accounts at once",
            "/guides/read-all-authorized-accounts-at-once", class: "list-group-item") %>
          <%= link_to_with_current("Getting Started with PHP",
            "/guides/getting-started-with-php", class: "list-group-item") %>
          <%= link_to_with_current("API best practices",
            "/guides/api-best-practices", class: "list-group-item") %>
          <%= link_to_with_current("Secure Payments By BookingSync",
            "/guides/secure-payments-by-bookingsync", class: "list-group-item") %>
          <%= link_to_with_current("Webhook subscriptions",
            "/guides/webhook-subscriptions", class: "list-group-item") %>
          <%= link_to_with_current("BookingSync Universe API [EARLY BETA]",
            "/guides/bookigsync-universe-api-early-beta", class: "list-group-item") %>
          <%= link_to_with_current("updated_since flow",
            "/guides/updated-since-flow", class: "list-group-item") %>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-md-pull-3">
      <div class="panel panel-default">
        <div class="panel-body guide-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'foot' %>
