<% tag = SecureRandom.hex(6) %>

<ul class="nav nav-pills pull-right" role="tablist">
  <li class="disabled"><a>OAuth Scopes:</a></li>
  <% scopes.each_with_index do |scope, i| %>
    <li <% if i.zero? %>class="active"<% end %>>
      <a href="#<%= tag %><%= scope %>" role="tab" data-toggle="pill">
        <%= scope.gsub('-', ' / ') %>
      </a>
    </li>
  <% end %>
</ul><br>

<div class="tab-content">
  <% scopes.each_with_index do |scope, i| %>
    <div class="tab-pane <%= "active" if i.zero? %>" id="<%= tag %><%= scope %>">
      Response:
      <%= json_response("#{endpoint}/#{scope}-scope") %>
    </div>
  <% end %>
</div>
