<%= render 'head' %>
<div class="container content">
  <div class="row">
    <div class="col-md-3 col-md-push-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Overview</h3>
        </div>
        <div class="list-group">
          <%= link_to_with_current("Introduction", "/reference/",
            class: "list-group-item") %>
          <%= link_to_with_current("Changelog", "/reference/changelog/",
            class: "list-group-item") %>
          <%= link_to_with_current("Requirements", "/reference/requirements/",
            class: "list-group-item") %>
          <%= link_to_with_current("Libraries", "/reference/libraries/",
            class: "list-group-item") %>
          <%= link_to_with_current("Authorization", "/reference/authorization/",
            class: "list-group-item") %>
          <%= link_to_with_current("Testing the Authorization", "/reference/testing_authorization/",
            class: "list-group-item") %>
          <%= link_to_with_current("Enumerables", "/reference/enums/",
            class: "list-group-item") %>
        </div>
        <div class="panel-heading">
          <h3 class="panel-title">Endpoints</h3>
        </div>
        <div class="list-group">
          <%= link_to_with_current("Accounts", "/reference/endpoints/accounts/",
            class: "list-group-item") %>
          <%= link_to_with_current("Amenities", "/reference/endpoints/amenities/",
            class: "list-group-item") %>
          <%= link_to_with_current("Applications", "/reference/endpoints/applications/",
            class: "list-group-item") %>
          <%= link_to_with_current("Availabilities", "/reference/endpoints/availabilities/",
            class: "list-group-item") %>
          <%= link_to_with_current("Bathrooms", "/reference/endpoints/bathrooms/",
            class: "list-group-item") %>
          <%= link_to_with_current("Bedrooms", "/reference/endpoints/bedrooms/",
            class: "list-group-item") %>
          <%= link_to_with_current("Bookings", "/reference/endpoints/bookings/",
            class: "list-group-item") %>
          <%= link_to_with_current("Booking Comments", "/reference/endpoints/booking_comments/",
            class: "list-group-item") %>
          <%= link_to_with_current("Bookings Fees", "/reference/endpoints/bookings_fees/",
            class: "list-group-item") %>
          <%= link_to_with_current("Bookings Payments", "/reference/endpoints/bookings_payments/",
            class: "list-group-item") %>
          <%= link_to_with_current("Bookings Tags", "/reference/endpoints/bookings_tags/",
            class: "list-group-item") %>
          <%= link_to_with_current("Bookings Taxes", "/reference/endpoints/bookings_taxes/",
            class: "list-group-item") %>
          <%= link_to_with_current("Change Overs", "/reference/endpoints/change_overs/",
            class: "list-group-item") %>
          <%= link_to_with_current("Clients", "/reference/endpoints/clients/",
            class: "list-group-item") %>
          <%= link_to_with_current("Destinations", "/reference/endpoints/destinations/",
            class: "list-group-item") %>
          <%= link_to_with_current("Fees", "/reference/endpoints/fees/",
            class: "list-group-item") %>
          <%= link_to_with_current("Fees Taxes", "/reference/endpoints/fees_taxes/",
            class: "list-group-item") %>
          <%= link_to_with_current("Inquiries", "/reference/endpoints/inquiries/",
            class: "list-group-item") %>
          <%= link_to_with_current("Living Rooms", "/reference/endpoints/living_rooms/",
            class: "list-group-item") %>
          <%= link_to_with_current("LOS Records", "/reference/endpoints/los_records/",
            class: "list-group-item") %>
          <%= link_to_with_current("Nightly Rate Maps", "/reference/endpoints/nightly_rate_maps/",
            class: "list-group-item") %>
          <%= link_to_with_current("Payments", "/reference/endpoints/payments/",
            class: "list-group-item") %>
          <%= link_to_with_current("Periods", "/reference/endpoints/periods/",
            class: "list-group-item") %>
          <%= link_to_with_current("Photos", "/reference/endpoints/photos/",
            class: "list-group-item") %>
          <%= link_to_with_current("Rates", "/reference/endpoints/rates/",
            class: "list-group-item") %>
          <%= link_to_with_current("Rates Rules", "/reference/endpoints/rates_rules/",
            class: "list-group-item") %>
          <%= link_to_with_current("Rates Tables", "/reference/endpoints/rates_tables/",
            class: "list-group-item") %>
          <%= link_to_with_current("Rentals", "/reference/endpoints/rentals/",
            class: "list-group-item") %>
          <%= link_to_with_current("Rental Agreements", "/reference/endpoints/rental_agreements/",
            class: "list-group-item") %>
          <%= link_to_with_current("Rentals Amenities", "/reference/endpoints/rentals_amenities/",
            class: "list-group-item") %>
          <%= link_to_with_current("Rentals Contents Overrides", "/reference/endpoints/rentals_contents_overrides/",
            class: "list-group-item") %>
          <%= link_to_with_current("Rentals Fees", "/reference/endpoints/rentals_fees/",
            class: "list-group-item") %>
          <%= link_to_with_current("Rental Link Groups", "/reference/endpoints/rental_link_groups/",
            class: "list-group-item") %>
          <%= link_to_with_current("Rental Links", "/reference/endpoints/rental_links/",
            class: "list-group-item") %>
          <%= link_to_with_current("Rentals Tags", "/reference/endpoints/rentals_tags/",
            class: "list-group-item") %>
          <%= link_to_with_current("Rentals Taxes", "/reference/endpoints/rentals_taxes/",
            class: "list-group-item") %>
          <%= link_to_with_current("Reviews", "/reference/endpoints/reviews/",
            class: "list-group-item") %>
          <%= link_to_with_current("Seasons", "/reference/endpoints/seasons/",
            class: "list-group-item") %>
          <%= link_to_with_current("Sources", "/reference/endpoints/sources/",
            class: "list-group-item") %>
          <%= link_to_with_current("Special Offers", "/reference/endpoints/special_offers/",
            class: "list-group-item") %>
          <%= link_to_with_current("Taxes", "/reference/endpoints/taxes/",
            class: "list-group-item") %>
          <%= link_to_with_current("Tax Rules", "/reference/endpoints/tax_rules/",
            class: "list-group-item") %>
        </div>
        <div class="panel-heading">
          <h3 class="panel-title">Deprecated APIs</h3>
        </div>
        <div class="list-group">
          <%= link_to "BookingSync API v1", "https://www.bookingsync.com/en/documentation/api",
            class: "list-group-item" %>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-md-pull-3">
      <div class="panel panel-default">
        <div class="panel-body reference-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'foot' %>
