body {
  padding-top: 20px;
  padding-bottom: 40px;
}

html, body {
  font-family: 'Open Sans', sans-serif;
}

#content h3, #content h4, #content h5, #content h6 {
  margin-top: 2em;
}

#content h3+h4 {
  margin-top: 1em;
}

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

#content .callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.callout-warning {
  border-left-color: #f0ad4e;
}

#content .callout-warning h4 {
  color: #f0ad4e;
}

.callout-info {
  border-left-color: #5bc0de;
}

#content .callout-info h4 {
  color: #5bc0de;
}
